* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #F0E4D7;
 }

 .main {
  width: 430px;
  height: 400px;
  background: #F6F5F0;
  border-radius: 10px;
 }

 .main h1 {
  font-size: 25px;
  font-weight: 500;
  padding: 20px 25px;
  border-bottom: 1px solid #ccc;
 }

 .main .content {
  margin: 25px 25px 35px;
 }

 .content .word {
  display: flex;
  flex-wrap: warp;
  justify-content: center;
 }

 .card {
  display: inline-block;
  height: 57px;
  width: 56px;
  margin: 4px;
  font-size: 36px;
  font-weight: 450;
  text-align: center;
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
  user-select: none;
 }
 .card2 {
  display: inline-block;
  height: 47px;
  width: 200px;
  margin-left: 10px;
  font-size: 30px;
  font-weight: 450;
  text-align: center;
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
  user-select: none;
 }

 .card:first-child {
  margin-left: 0px;
 }

 .activeCard {
  color: #293242;
  background: #BEABA7;
 }

 .content .details {
  margin: 20px 0 40px;
 }

 .details p {
  font-size: 19px;
  margin-bottom: 10px ;
 }

 .content .reset-btn{
  cursor: pointer;
  outline: none;
  border: none;
  color: #fff;
  font-size: 17px sol;
  padding: 15px 140px;
  background: #2A505A;
  border-radius: 5px;
  margin-right: 15px;
 }